html {min-height:100%}
* {margin:0;padding:0}
body {
    background:#CCD8E0 url(img/bg.jpg) repeat-x left bottom;
    color:#444;
    font:normal 62.5% Tahoma,sans-serif
}
h1 {
    font:normal 1.8em Tahoma,sans-serif;
    margin-bottom:4px
}
h1,h2,h3 {padding-top:6px}
/* misc */
.clearer {clear:both}
.left {float:left}
.right {float:right}
/* structure */
.container {
    background:#FFF;
    font-size:1.2em;
    margin:0 auto;
    padding:0 10px 10px;
    width:1100px;
    height: 582px
}
/* header */
.top {
    background:url(img/clouds.gif) repeat-x;
    padding:50px 10px 0
}
/* title */
.header {
    background:#FFF;
    font-size:1.2em;
    height:125px;
    margin:0 auto;
    padding:10px 10px 5px;
    width:1100px
}
.header .left, .header .right {
    color:#FFF;
    background:#B3C2C7;
    font:normal 2.8em "Trebuchet MS",sans-serif;
    line-height:125px;
}
.header .left .left_l {
    float: left;
    height:125px;
    width:120px;
    text-align: center;
}
.header .left .left_r {
    float: right;
    width:300px;
    font-size: 0.7em;
}
.header .right .right_l {
    float: left;
    width:280px;
    font-size: 0.7em;
}
.header .right .right_r {
    float: right;
    width:400px;
    font-size: 0.7em;
}
/* main */
.main {border-top:4px solid #FFF}
/* center block: file editor */
#center {
    margin:0 auto;
    width:652px;
    text-align: center;
}
.navigation {
    background:#D9E1E5 url(img/nav.gif);
    border-color:#DFEEF7 #CFDEE7;
    height:41px
}
#editor {
    resize: none;
    width: 650px;
    height: 500px;
    overflow: visible;
}
#new_file {
    float:left;
    padding-left: 10px;
}
#delete {
    float:right;
}
/* left block: file browser, dir notes */
#left {
    float:left;
    width:180px;
}
#left .note_container {
    overflow: auto;
    height: 240px;
}
#file_navigation {
    height: 220px;
    margin: 5px;
    overflow: auto;
}
.dir {
    background: url(img/dir.png) 0 3px no-repeat;
    padding: 12px 30px 10px;
}
.file {
    padding: 4px 0px 5px;
}
#dir_note {
    margin: 5px;
    padding:10px;
    background-color:lightgreen;
}
/* right block: file/text note creation, file notes */
#right {
    float:right;
    width:180px;
}
#right .note_container {
    overflow: auto;
    height: 355px;
}
.note_form ul {
    list-style-type:none;
}
.note_form li{
    padding:5px;
    position:relative;
}
#note_text {
    resize: none;
    overflow: visible;
    height: 50px;
}
#text_note {
    margin: 5px;
    padding:10px;
    background-color:skyblue;
}

/* PREVIEW */
#preview {
    width: 400px;
    height: 400px;
    background-color: lightgoldenrodyellow;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
    resize: none;
}
